.nav-item.result:hover {
    border-radius: 5px;
    background-color: #007bff;
    margin: 0;
    padding: 0;
}

.landing-page {
    background-image: url('https://images.unsplash.com/photo-1682687218982-6c508299e107?auto=format&fit=crop&q=80&w=2670&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.landing-page .about {
    opacity: 0.7;
}   